*{
    font-family: "Roboto";
    font-weight: bold;
    margin: 1.5%;
}

body {
    background: linear-gradient(#494848, #949494);
    color:black;
}

.titulos {
    font-size: 300% ;
    font-style: normal;
    font-family: "Limelight";
    color:rgb(235, 151, 217);
    text-align:justify;
}

p{
text-align: justify;
}

#imagen1 {
width: 50%;
height: 50%;
}

.primeraimagen {
    text-align: center;
}

